/**
* theme.css (Core stylesheet for theme styling)
* The styles in this file represent all basic styles for the <DBS Singapore> <DBS Digital onBoarding> site.
* It includes a reset, the basic grid and some default components.
* 
* @project   DBS Digital onBoarding
* @date      17-Nov-2015
* @author    Anuj Karol, DBS Singapore 
* @licensor  DBS Singapore
* @site      http://www.dbs.com.sg
*
* @dependency style..css
*
*/

a {
    color: #ee1818;
    font-weight: 300
}

a:hover,
a:focus {
    color: #ec0000
}

.btn-primary {
    background: #ff3333;
    border: 1px solid #ee1818;;
    color: #fff
}

button:disabled,
button:disabled:hover {
    background: #F0F0F0;
    color: silver;
    border: 1px solid silver
}

.btn-secondary {
    background: #f7f7f7;
    color: #000;
    border: 1px solid silver
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #d00000;
    color: #fff
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background: #ececec;
    color: #000;
    border: 1px solid #909090
}

label.label::after {
    color: #D8232A
}

input[type="radio"]:checked + label.option-label::after {
    background: #d8232a
}

input[type="radio"]:checked + label.option-radio::after {
    background: #d8232a
}

@font-face {
   font-family: "digitalonboarding";
  src:url("../fonts/digitalonboarding.eot");
  src:url("../fonts/digitalonboarding.eot?#iefix") format("embedded-opentype"),
    url("../fonts/digitalonboarding.woff") format("woff"),
    url("../fonts/digitalonboarding.ttf") format("truetype"),
    url("../fonts/digitalonboarding.svg#digitalonboarding") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "digitalonboarding" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "digitalonboarding" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enrolment:before {
  content: "\61";
}
.icon-logout:before {
  content: "\63";
}
.icon-arrow-up:before {
  content: "\64";
}
.icon-wait:before {
  content: "\65";
}
.icon-appointment:before {
  content: "\66";
}
.icon-cashline:before {
  content: "\67";
}
.icon-card:before {
  content: "\68";
}
.icon-card2:before {
  content: "\69";
}
.icon-deposit:before {
  content: "\6a";
}
.icon-myapp:before {
  content: "\6d";
}
.icon-arrow-down:before {
  content: "\6e";
}
.icon-close:before {
  content: "\6f";
}
.icon-search:before {
  content: "\70";
}
.icon-success2:before {
  content: "\72";
}
.icon-card3:before {
  content: "\73";
}
.icon-selected2:before {
  content: "\74";
}
.icon-categories:before {
  content: "\75";
}
.icon-help:before {
  content: "\79";
}
.icon-in-alt:before {
  content: "\78";
}
.icon-trash-bin:before {
  content: "\42";
}
.icon-upload:before {
  content: "\43";
}
.icon-add:before {
  content: "\7a";
}
.icon-close-circle:before {
  content: "\41";
}
.icon-info:before {
  content: "\76";
}
.icon-alert:before {
  content: "\44";
}
.icon-success:before {
  content: "\62";
}
.icon-print:before {
  content: "\6b";
}
.icon-selected:before {
  content: "\77";
}
.icon-close-btn-large:before {
  content: "\45";
}
.icon-close-icon2:before {
  content: "\46";
}
.icon-close-icon:before {
  content: "\71";
}
.icon-toggle-btn-small-2:before {
  content: "\47";
}
.icon-toggle-btn-2:before {
  content: "\6c";
}
.icon-left-icon:before {
  content: "\48";
}
.icon-right-icon:before {
  content: "\49";
}
.icon-loan-icon:before {
  content: "\4a";
}
.icon-traveller:before {
  content: "\4b";
}
.icon-dbsicons:before {
  content: "\4c";
}
.icon-dbsicons-1:before {
  content: "\4d";
}
.icon-dbsicons-2:before {
  content: "\4e";
}
.icon-dbsicons-3:before {
  content: "\4f";
}
.icon-dbsicons-4:before {
  content: "\50";
}
.icon-dbsicons-5:before {
  content: "\51";
}
.icon-dbsicons-6:before {
  content: "\52";
}
.icon-digital-services:before {
  content: "\53";
}
.icon-protector:before {
  content: "\54";
}
.icon-transfer:before {
  content: "\55";
}
.icon-trash-bin-1:before {
  content: "\56";
}


@font-face {
    font-family: 'FrutigerNextPro-Black';
    src: url(../fonts/2EAE06_0_0.eot);
    src: url(../fonts/2EAE06_0_0.eot?#iefix) format("embedded-opentype"), url(../fonts/2EAE06_0_0.woff2) format("woff2"), url(../fonts/2EAE06_0_0.woff) format("woff"), url(../fonts/2EAE06_0_0.ttf) format("truetype")
}

@font-face {
    font-family: 'FrutigerNextPro-Bold';
    src: url(../fonts/2EAE06_1_0.eot);
    src: url(../fonts/2EAE06_1_0.eot?#iefix) format("embedded-opentype"), url(../fonts/2EAE06_1_0.woff2) format("woff2"), url(../fonts/2EAE06_1_0.woff) format("woff"), url(../fonts/2EAE06_1_0.ttf) format("truetype")
}

@font-face {
    font-family: 'FrutigerNextPro-Medium';
    src: url(../fonts/2EAE06_2_0.eot);
    src: url(../fonts/2EAE06_2_0.eot?#iefix) format("embedded-opentype"), url(../fonts/2EAE06_2_0.woff2) format("woff2"), url(../fonts/2EAE06_2_0.woff) format("woff"), url(../fonts/2EAE06_2_0.ttf) format("truetype")
}

@font-face {
    font-family: 'FrutigerNextPro-Light';
    src: url(../fonts/2EAE06_3_0.eot);
    src: url(../fonts/2EAE06_3_0.eot?#iefix) format("embedded-opentype"), url(../fonts/2EAE06_3_0.woff2) format("woff2"), url(../fonts/2EAE06_3_0.woff) format("woff"), url(../fonts/2EAE06_3_0.ttf) format("truetype")
}