# Ignore node_modules and log files
/node_modules
/log
/tmp

# Don't ignore the Backend directory
!/Backend

# Ignore virtual environment
myenv/
venv/

# Ignore other common files and directories
__pycache__/
*.pyc
*.pyo
.DS_Store
.vscode/