@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400");

/* colors */
$blue: #ff3333;
$red: #ff4a53;
$dark: #333;
$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

/* tab setting */
$tab-count: 5; 
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 250px},
  small: #{$tab-count * 150px},
);

html {
  width: 100%;
  height: 100%;
}

body {
  background: #f8f9fa;
  color: $dark;
  font-family: "Raleway";
  height: 100%;

  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }
}

.tabs input[type="radio"] {
  display: none;
}

.tabs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: -40px;
  position: relative;
}

.tabs ul li {
  flex: 1;
  text-align: center;
  transition: all 0.3s ease;
}

.tabs label {
  display: block;
  padding: 10px 0px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-bottom: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.tabs label:hover {
  background-color: #e0e0e0;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #ff3333;
  transition: transform 0.3s ease, width 0.3s ease;
}

/* Additional styling for active states */
input[id="tab1"]:checked ~ ul li label[for="tab1"],
input[id="tab2"]:checked ~ ul li label[for="tab2"],
input[id="tab3"]:checked ~ ul li label[for="tab3"],
input[id="tab4"]:checked ~ ul li label[for="tab4"],
input[id="tab5"]:checked ~ ul li label[for="tab5"] {
  background: #fff;
  border-bottom: 3px solid #ff3333;
}

.tabs .content section {
  display: none;
}

.tabs input[id="tab1"]:checked ~ .content #content1,
.tabs input[id="tab2"]:checked ~ .content #content2,
.tabs input[id="tab3"]:checked ~ .content #content3,
.tabs input[id="tab4"]:checked ~ .content #content4,
.tabs input[id="tab5"]:checked ~ .content #content5 {
  display: block;
}

.content-image {
  width: 80%;
  height: auto;
  display: block;
  margin: -50px auto auto;
  margin-left: 91px;
}

.tabs {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin-top: 1px;
  left: 5%;
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 90%;
  height: 425px;
  // box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  min-width: #{$tab-count * 60px};
  border: black solid 0.5px;

  input[name="tab-control"] {
    display: none;
  }

  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100% / $tab-count};
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: darken($secondary, 20%);
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        

        br {
          display: none;
        }

        svg {
          fill: darken($secondary, 20%);
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);

          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .content {
    margin-top: 20px;

    section {
      display: none;
      animation: content 0.3s ease-in-out;
      line-height: 1.4;

      h2 {
        color: $accent;
        display: none;

        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }

  input[name="tab-control"] {
    &:nth-of-type(1):checked ~ ul li label[for="tab1"] {
      color: $accent;
      svg {
        fill: $accent;
      }
    }
    &:nth-of-type(2):checked ~ ul li label[for="tab2"] {
      color: $accent;
      svg {
        fill: $accent;
      }
    }
    &:nth-of-type(3):checked ~ ul li label[for="tab3"] {
      color: $accent;
      svg {
        fill: $accent;
      }
    }
    &:nth-of-type(4):checked ~ ul li label[for="tab4"] {
      color: $accent;
      svg {
        fill: $accent;
      }
    }
    &:nth-of-type(5):checked ~ ul li label[for="tab5"] {
      color: $accent;
      svg {
        fill: $accent;
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;

      br {
        display: initial;
      }

      svg {
        height: 1.5em;
      }
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;

      span {
        display: none;
      }
    }

    .slider {
      display: none;
    }

    .content {
      margin-top: 20px;

      section h2 {
        display: block;
      }
    }
  }
}

.btn-group {
  left: 5%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 75%;
}

.btn-group .btn.active {
  background-color: #ff3333;
  color: white;
}

.btn {
  border-radius: 5px !important;
  width: 23%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 14px;
}


.upload-btn-wrapper {
  width: 100%; /* Ensure it takes the full width of the parent */
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  z-index: 2;
}

.wrapper-col-left{
  flex: 1;
}
.wrapper-col-middle{
  flex: 0.7;
}
.wrapper-col-right{
  flex:1;
}

.file-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1;
  color: black;
  // margin: 10px;
  max-width: 250px;
}

.file-icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.file-details {
  flex-grow: 1;
  overflow: hidden;
}

.file-name {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 5px;
}


.file-actions {
  margin-left: auto;
}

.delete-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.btnUp {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(40, 40, 40);
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
}

.btnUp input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btnUp span {
  position: relative;
  z-index: 0;
  padding: 10px 20px;
  border-radius: 4px;
}

.btnUp.disabled {
  background-color: #f9f9f9; 
  pointer-events: none;
  cursor: pointer;
}

.upload {
  border-radius: 10px !important;
  padding: 0 !important;
}

/* Next Button */
.next-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: grey;
  border-radius: 5px;
  margin: 20px;
  margin-left: 89%;
  pointer-events: none;
  font-weight: bold;
}

.next-link{
  color: white;
  text-decoration: none;
}

.next-link:hover{
  color: white;
  text-decoration: none;
}

.next-button:hover {
  background-color: darkred;
}

.doc-container {
  margin: 30px;
  border-radius: 5px;
}

.header {
  margin-left: 5%;
  font-size: 25px;
}

.subheader {
  margin-left: 5%;
  font-size: 12px;
  color: gray;
}

.upload-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.upload-rectangle {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  border: gray dashed 1px;
  padding: 15px;
  max-width: none;
}

.delete-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}