<header class="custom-header">

  <div class="custom-title-section">
    <div class="custom-title">Credit Card Application</div>
    <div class="custom-actions">
      <div class="custom-notification">
        <div class="custom-notification-circle">1</div>
        <div class="custom-notification-icon"></div>
      </div>
      <div class="custom-save-button">Save</div>
    </div>
    
  </div>

  <div class="custom-steps-section">
    <div class="custom-steps">
      <div class="custom-step active">
        <div class="custom-step-number">1.</div>
        <div class="custom-step-label">Employment Pass & Passport</div>
      </div>
      <div class="custom-step">
        <div class="custom-step-number">2.</div>
        <div class="custom-step-label">Application Details</div>
      </div>
      <div class="custom-step">
        <div class="custom-step-number">3.</div>
        <div class="custom-step-label">Verify Details</div>
      </div>
      <div class="custom-step">
        <div class="custom-step-number">4.</div>
        <div class="custom-step-label">Upload Documents</div>
      </div>
      <div class="custom-step">
        <div class="custom-step-number">5.</div>
        <div class="custom-step-label">Create Pin</div>
      </div>
    </div>

  </div>
</header>
