
  <div class="container-right">
    <div class="header">
      <div class="title">Credit Card Application</div>
      <div class="save-container">
        <div class="notification">
          <div class="notification-count">1</div>
          <div class="notification-icon"></div>
        </div>
        <button class="save-button">Save</button>
      </div>
    </div>
    <div class="steps">
      <div class="step">1. Employment Pass & Passport</div>
      <div class="step">2. Application Details</div>
      <div class="step">3. Verify Details</div>
      <div class="step">4. Upload Documents</div>
      <div class="step">5. Create Pin</div>
    </div>
  </div>
