<header class="custom-header">
    <div class="custom-title-section">
        <div class="custom-title">Credit Card Application</div>
            <div class="custom-actions">
                <div class="custom-notification">
                <div class="custom-notification-circle">1</div>
                <div class="custom-notification-icon"></div>
                </div>
                <div class="custom-save-button">Save</div>
            </div>
        </div>
        <div class="custom-steps-section">
            <div class="custom-steps">
                <div class="custom-step active">
                <div class="custom-step-number">1.</div>
                <div class="custom-step-label">Employment Pass & Passport</div>
                </div>
                <div class="custom-step">
                <div class="custom-step-number">2.</div>
                <div class="custom-step-label">Application Details</div>
                </div>
                <div class="custom-step">
                <div class="custom-step-number">3.</div>
                <div class="custom-step-label">Verify Details</div>
                </div>
                <div class="custom-step">
                <div class="custom-step-number">4.</div>
                <div class="custom-step-label">Upload Documents</div>
                </div>
                <div class="custom-step">
                <div class="custom-step-number">5.</div>
                <div class="custom-step-label">Create Pin</div>
            </div>
        </div>
    </div>
</header>

<%# <div style="width: 1280px; height: 100px; position: relative; background: #F5F5F5; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50)">
  <div style="width: 944px; height: 34px; left: 168px; top: 12px; position: absolute">
    <div style="width: 226.84px; height: 34px; left: 358.67px; top: 0px; position: absolute; text-align: center; color: black; font-size: 19.69px; font-family: Inter; font-weight: 700; line-height: 34px; word-wrap: break-word">Credit Card Application</div>
    <div style="width: 120px; height: 32px; left: 824px; top: 0px; position: absolute">
      <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute">
        <div style="width: 32px; height: 32px; left: 0px; top: 32px; position: absolute">
          <div style="width: 29.94px; height: 18.96px; left: 1.03px; top: 6.55px; position: absolute; background: #EE1818"></div>
        </div>
        <div style="width: 18px; height: 18px; left: 24px; top: 0px; position: absolute; background: #FF3333; border-radius: 9px">
          <div style="width: 6.58px; height: 18px; left: 5.81px; top: 0px; position: absolute; text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">1</div>
        </div>
      </div>
      <div style="width: 64px; height: 32px; left: 56px; top: 0px; position: absolute; background: #FF3333; border-radius: 4px; border: 1px #EE1818 solid">
        <div style="width: 32.37px; height: 32px; left: 15.91px; top: 1px; position: absolute; text-align: center; color: white; font-size: 14.12px; font-family: Inter; font-weight: 300; line-height: 32px; word-wrap: break-word">Save</div>
      </div>
    </div>
  </div>
  <div style="width: 859px; height: 46px; left: 324px; top: 54px; position: absolute; background: #F5F5F5">
    <div style="width: 859px; height: 51.50px; left: 0px; top: -0.50px; position: absolute">
      <div style="width: 16px; height: 49px; left: 95px; top: 1.50px; position: absolute; text-align: center; color: #909090; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">2.</div>
      <div style="width: 114.62px; height: 49px; left: 116.66px; top: 1px; position: absolute; text-align: center; color: #909090; font-size: 13.02px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">Application Details</div>
      <div style="width: 109px; left: 310px; top: -0.50px; position: absolute; text-align: center; color: #909090; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">3. Verify Details</div>
      <div style="width: 124.30px; left: 520.95px; top: 0px; position: absolute; text-align: center; color: #909090; font-size: 12.14px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">4. Upload Documents</div>
      <div style="width: 72.66px; left: 747.77px; top: 0px; position: absolute; text-align: center; color: #909090; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">5. Create Pin</div>
      <div style="width: 238px; height: 49px; left: -194px; top: 1.50px; position: absolute; text-align: center; color: #FF3333; font-size: 13.02px; font-family: Inter; font-weight: 400; line-height: 49px; word-wrap: break-word">Employment Pass & Passport</div>
    </div>
  </div>
</div> %>