  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }
  
  body {
    background-color: #f0f0f0;
  }
  
  header {
    width: 100%;
  }
  
  .top-bar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-bar-left span {
    margin-right: 15px;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .logo img {
    height: 40px; /* Adjust based on your logo size */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .search-login {
    display: flex;
    align-items: center;
  }
  
  .search-login input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .search-login .login {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .search-login .login:hover {
    background-color: darkred;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    gap: 10px;

  }
  
  .section {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
    position: relative;
  }
  
  .section:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  #section1{
    background-image: url('principal-card.jpg');
    background-size: cover; 
    background-position: center top ;
  }

  #section2{
    background-image: url('Supplementary-card.jpg');
    background-size: cover; 
    background-position: center; 
  }

  #section3{
    background-image: url('dbs-live-fresh.jpg');
    background-size: cover; 
    background-position: center; 
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
    }
  
    .section {
      margin: 10px 0;
    }
  }

  .title {
    text-align: left;
    width: 78%;
    margin: 30px auto;
    font-size: larger;
    color: black;
    font-weight: bold;
  }

  /* Popup container */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    backdrop-filter: blur(2px); /* Apply blur to the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 80%;
    max-height: 90%; /* Max height */
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative;
  }

  .popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .popup-overlay.show {
    visibility: visible;
    opacity: 1;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
    font-size: large;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
    padding-top: 10px;
    font-size: large;
  }

  #form-link {
    color: red;
  }

  #sec-li {
    list-style-type: circle;
    margin-left: 25px;
    list-style-position: inside;
    text-indent: -24px;
  }
  
  #popup-header { 
    color: black;
    margin-left: 20px;
  }

  /*pop up content*/

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-container input[type="radio"] {
    display: none;
  }
  
  .toggle-container label {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #f7f7f7;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    border-radius: 25px;
    margin: 0 5px;
  }
  
  .toggle-container input[type="radio"]:checked + label {
    background-color: #ff5a5f;
    color: white;
    border-color: #ff5a5f;
  }
  
  .toggle-container label:hover {
    background-color: #ddd;
  }

  div#singapore-content {
    background-color: white;
    width: 96.5%;
    margin: 0px 10px 0px 20px;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
  }
  
  .tabs {
    display: flex;
    border: none;
  }
  
  .tab {
    background-color: #f7f7f7;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    height: 50px;
    max-width: 225px;
    border-radius: 15px 15px 5px 5px;
  }
  
  .tab:hover {
    background-color: #ddd;
  }
  
  .tab.active {
    background-color: #efefef;
    border-bottom: 2px solid red;
  }
  
  .content {
    display: flex;
    margin-top: 20px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    padding: 20px;
  }
  
  .main-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  img#main-image {
    max-width: 80%;
  }

  .accordion .accordion-item {
    border-bottom: 1px solid #f1f1f1;
  }
  
  .accordion-header {
    background-color: #f7f7f7;
    border: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    cursor: pointer;
    outline: none;
  }
  
  .accordion-header:hover {
    background-color: #ddd;
    border-radius: 15px;
  }

  .accordion-header.active {
    /* Styles for active accordion headers */
    background-color: #ddd;
    border-radius: 15px 15px 0px 0px;
  }
  
  .accordion-content {
    display: none;
    padding: 0px 20px 15px 15px;
    background-color: #dedede;
    border-radius: 0px 0px 20px 20px;
  }
  
  .accordion-content p {
    margin: 0;
    font-size: 12px;
    color: #636363;
  }

  .accordion-content li {
    margin-left: 0px;
    padding: 0;
    font-size: 12px;
    color: #636363;
  }

  .toggle-switch {
    position: relative;
    text-align: center;
    padding: 4px 15px 0px 0px;
  }

  .toggle-input {
      display: none;
  }

  .toggle-label {
      position: relative;
      display: inline-block;
      width: 350px;
      height: 50px;
      background-color: #f1f1f1;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .toggle-label:before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 235px;
      height: 44px;
      background-color: red;
      border-radius: 50px;
      transition: transform 0.3s ease, width 0.3s ease;
  }

  .toggle-text {
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      user-select: none;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
  }

  .toggle-input:checked + .toggle-label:before {
      transform: translateX(250px);
      width: 95px;
  }

  #foreigner {
    color: black;
    transition: color 0.3s ease;
  }

  #sg-pr {
      color: white;
      transition: color 0.3s ease;
  }

  .toggle-input:checked + .toggle-label .toggle-text #foreigner {
      color: white;
  }

  .toggle-input:checked + .toggle-label .toggle-text #sg-pr {
    color: black;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }