<div class="custom-container">
    <div class="left-div">
        <%= render 'shared/left_toggle-sidebar' %>
    </div>
    <div class="right-div">
        <%= render 'shared/right_header' %>
        <%= render 'shared/right_tabs' %>
    </div>
</div>