<div class="custom-container">
    <div class="left-div">
        <%= render 'shared/left_toggle-sidebar' %>
    </div>
    <div class="right-div">
        <%= render 'shared/right_header' %>
        <div class="content">
            <div id="tab5">
                <h2>Name</h2>
                <p>Content for Name</p>
            </div>
            <div id="tab6">
                <h2>Address</h2>
                <p>Content for Address</p>
            </div>
            <div id="tab7">
                <h2>Mobile Number</h2>
                <p>Content for Mobile Number</p>
            </div>
            <div id="tab8">
                <h2>Home Number</h2>
                <p>Content for Home Number</p>
            </div>
            <div id="tab9">
                <h2>Office Number</h2>
                <p>Content for Office Number</p>
            </div>
            <div id="tab10">
                <h2>Nationality</h2>
                <p>Content for Nationality</p>
            </div>
            <div id="tab11">
                <h2>Passport Number</h2>
                <p>Content for Passport Number</p>
            </div>
            <div id="tab12">
                <h2>Passport Expiry Date</h2>
                <p>Content for Passport Expiry Date</p>
            </div>
            <div id="tab13">
                <h2>More</h2>
                <p>Content for More</p>
            </div>
        </div>
    </div>
</div>