<div class="custom-container">
    <div class="left-div">
        <%= render 'shared/left_toggle-sidebar' %>
    </div>
    <div class="right-div">
        <%= render 'shared/right_content' %>    
        <%# render 'layouts/header' %>
    </div>
</div>