@import "bootstrap";
@import "shared/left_toggle-sidebar";
@import "right_main_content";
@import "shared/right_header_creditcard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.left-div {
  width: fit-content;
  height: 100%;
  overflow-y: auto;
}

.right-div {
  flex-grow: 1;
  background-color: #f8f9fa; /* Optional: Background color for main content */
  transition: margin-left 0.5s ease; /* Smooth transition for margin-left */
  margin-left: 260px; /* Default margin-left when sidebar is open */
}

.upload-btn-wrapper input[type=file] {
  /* font-size: 100px; */
  position: absolute;
  left: 39%;
  top: 0;
  opacity: 0;
  max-width: 22%;
  padding: 10px;
}