// Custom Header Styles
.custom-header {
  width: 100%;
  background: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Custom Header Top
.custom-title-section {
  width: 100%;
  height: 34px;
  margin: 12px auto 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
}
.custom-title {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.custom-actions {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.custom-notification {
  position: relative;
  width: 32px;
  height: 32px;
}

.custom-notification-circle {
  width: 18px;
  height: 18px;
  background: #ff3333;
  border-radius: 9px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  line-height: 18px;
}

.custom-notification-icon {
  width: 29.94px;
  height: 18.96px;
  background: #ee1818;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-save-button {
  width: 64px;
  height: 32px;
  background: #ff3333;
  border: 1px solid #ee1818;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 56px;
}

// Steps
.custom-steps-section {
  width: 100%;
  max-width: 859px;
  height: 46px;
  background: #f5f5f5;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.custom-step {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
}

.custom-step-number {
  font-size: 13px;
  color: #909090;
  text-align: center;
}

.custom-step-label {
  font-size: 13px;
  color: #909090;
  text-align: center;
  margin-left: 10px;
}

.custom-step.active .custom-step-number,
.custom-step.active .custom-step-label {
  color: #ff3333;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400");

/* colors */
$blue: #428bff;
$red: #ff4a53;
$dark: #333;
$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count * 250px},
  small: #{$tab-count * 150px},
);

/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector
) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }
      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }
      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #efefef;
  color: $dark;
  font-family: "Raleway";
  height: 100%;

  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};

  input[name="tab-control"] {
    display: none;
  }

  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100% / $tab-count};
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;

        br {
          display: none;
        }

        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);

          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .slider {
    position: relative;
    width: #{100% / $tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);

    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }
  }

  .content {
    margin-top: 30px;

    section {
      display: none;
      animation: content 0.3s ease-in-out;
      line-height: 1.4;

      h2 {
        color: $accent;
        display: none;

        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }

  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;

        svg {
          fill: $accent;
        }

        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;

      br {
        display: initial;
      }

      svg {
        height: 1.5em;
      }
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;

      span {
        display: none;
      }
    }

    .slider {
      display: none;
    }

    .content {
      margin-top: 20px;

      section h2 {
        display: block;
      }
    }
  }
}
