<!DOCTYPE html>

<html>
<!-- Google Tag Manager -->
<body style data-new-gr-c-s-check-loaded="14.1182.0" data-gr-ext-installed>
<div class="page-wrapper">
    <div class="wrapper">
        <h1 class="page-title">You are applying for</h1>
        <div class="new_card_section">
        <%= image_tag 'visa-card.jpg', alt: 'Example Image' %>
        <div class="new_card_name">
            <p>DBS yuu Visa card</p>
        </div>
    </div>
    <h2 class="left_header">I would like to apply using:</h2>


<!----------------------------------------------------------------------------------->    
    <div class="btn-wrapper target">
        <div class="text-section">
            <div class="new_text_box">  
                <h3>A SingPass Account</h3>
                <p>Use MyInfo data via SingPass to complete your application<br>instantly.</p>
            </div>
           
            <div class="new_text_box">
                <h3>DBS digibank Online</h3>
                <p>For salary crediting customers, complete your application fuss<br>free.</p>
            </div>
                      
            <div class="new_text_box">
                <h3>Others and foreigners</h3>
                <p>Don't have either Singpass or<br>digibank account.</p>
            </div>
                   
        </div>
        <span class="divider_vertical2"></span>
        <a class="btn1" href="https://internet-banking.dbs.com.sg/DBSObWeb/dbs/retriveMyInfo.htm?appType=CC&ntbInd=false&ibServiceId=000000000000132&propertyType=&fundType=&watsonID=&fundCurrency=&distType=&fundLongName=&actionType=&nonOTP=&rfOption=&applicationType=Credit&cardOrg=702&cardLogo=151&cardId=00&cardName=dbs+yuu+visa+card&branchCode=&employeeId=&bankId=&campaignCd"=>Apply with SingPass</a>
        <span class="divider_vertical1"></span>
        <button class="btn2" id="apply-yes">Apply with digibank</button>
                

        <%= form_with url: apply_users_path, method: :post, local: true, html: { class: 'inline' } do %>
            <button type="submit" class="btn3" id="apply-yes">Document Upload</button>
        <% end %>
        </div>
        <div class="custom-line">
            Visit <%= link_to 'application checklist', pages_applicationchecklist_path %> to get more information on the documents required
        </div>
    </div>
    <div class="new_info_highlight bottom_info">
        <p>
        </p>
        <p></p>
    </div>
</div>
</body>
</html>