@import "bootstrap";
@import "shared/left_toggle-sidebar";
@import "shared/right_header_creditcard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.left-div {
  width: fit-content;
  height: 100%;
  overflow-y: auto;
}

.right-div {
  flex-grow: 1;
  transition: margin-left 0.5s ease; /* Smooth transition for margin-left */
  margin-left: 260px; /* Default margin-left when sidebar is open */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #333;
}

.spaced-h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #333;
  margin-top: 15px;
}

h4 {
  font-size: 1em; /* Adjust as needed */
  color: #333;
  margin: 0 0 5px 0; /* Reduce bottom margin */
}

h5 {
  font-size: 0.8em;
  color: #b2b2b2;
  margin: 0 0 5px 0;
}
.spaced-h5 {
  margin-top: 15px; /* Add margin to the top to create space */
}

.content {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

// Title amd Name as NRIC
.form-name {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.form-name-left {
  width: 15%;
}

.form-control {
  height: 46.5px;
}

.form-name-right {
  width: 90%;
  margin-left: 5px;
}

//Residential Details
.residential-container {
  display: flex;
  flex-direction: column;
}
//Residential Details (Residential Address)
.residential-address-layer2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.residential-address-layer2-left {
  width: 35%;
}
.residential-address-layer2-right {
  width: 65%;
  margin-left: 7px;
}
.residential-address-layer1,
.residential-address-layer5 {
  width: 35%;
}

//Residential Details (Type of Residence)
.residence-type {
  text-align: left;
}
.residence-type-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.residence-type-toggle-button {
  width: 23.8%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}
.residence-type-toggle-button:hover {
  background-color: white;
  border: 1px solid #ff4a53;
}
.residence-type-toggle-button.active {
  background-color: #ff4a53;
  border-color: #ff4a53;
  color: white;
}

//Residential Details (Residential Status)
.residence-status {
  text-align: left;
}
.residence-status-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.residence-status-toggle-button {
  width: 48.8%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}
.residence-status-toggle-button:hover {
  background-color: white;
  border: 1px solid #ff4a53;
}
.residence-status-toggle-button.active {
  background-color: #ff4a53;
  border-color: #ff4a53;
  color: white;
}

//Residential Details (Years at Residence)
.residential-years {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.residential-years-left {
  width: 35%;
}
.residential-years-right {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 12px;
}

//Education Level
.education-level {
  text-align: left;
}
.education-level-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.education-level-toggle-button {
  width: 48.8%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}
.education-level-toggle-button:hover {
  background-color: white;
  border: 1px solid #ff4a53;
}
.education-level-toggle-button.active {
  background-color: #ff4a53;
  border-color: #ff4a53;
  color: white;
}

//Current Job Status
.current-job-status {
  text-align: left;
}
.current-job-status-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.current-job-status-toggle-button {
  width: 48.8%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}
.current-job-status-toggle-button:hover {
  background-color: white;
  border: 1px solid #ff4a53;
}
.current-job-status-toggle-button.active {
  background-color: #ff4a53;
  border-color: #ff4a53;
  color: white;
}

.input-container{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 30%;
}

.hidden-content {
  display: none;
  margin-top: 15px;
}

.hidden-container{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

//Length of Current Employment
.length-current-employment {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.length-current-employment-1, .length-current-employment-3{
  width: 35%;
}
.length-current-employment-2, .length-current-employment-4 {
  display: flex;
  align-items: center;
  width: 15%;
  margin-left: 12px;
}

//Mailing Address
//Current Job Status
.mailing-address {
  text-align: left;
}
.mailing-address-toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mailing-address-toggle-button {
  width: 48.8%;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}
.mailing-address-toggle-button:hover {
  background-color: white;
  border: 1px solid #ff4a53;
}
.mailing-address-toggle-button.active {
  background-color: #ff4a53;
  border-color: #ff4a53;
  color: white;
}

//Current Office Address
.current-office-address-layer2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.current-office-address-layer2-left {
  width: 35%;
}
.current-office-address-layer2-right {
  width: 65%;
  margin-left: 7px;
}
.current-office-address-layer1,
.current-office-address-layer5 {
  width: 35%;
}



input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button-holder {
  visibility: hidden;
}

.next-button {
  background-color: #ff3333;
}

.next-button:hover {
  background-color: #cc0000;
}

.form-container {
  width: 60%;
}

.dbs_blackvisacard_image {
  margin: 10px 0;
}

.section {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}